*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width:100%;
    height:100%;
    display: flex;
    /* 主轴-x轴：居中 */
    justify-content: center;
    align-items: center;/*垂直居中*/
    background-size: 100% 100%;
    background-image: url('../image/index_background.jpg');
    background-repeat:no-repeat;
    background-position:right top;
}
img{
    vertical-align: bottom;
}
h1{
    margin: 40px;
    font-size: 80px;
    text-align: center;
    background-image:-webkit-linear-gradient(top,rgb(0, 153, 255),#0314fd,rgb(55, 0, 255)); 
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent;
}
p{
    margin: 20px;
    font-size: 20px;
    text-align: center;
    color: azure;
}
.subject{
    /* background-color: aquamarine; */
}
.search{
    display: flex;
    justify-content: center;/*水平居中*/
}
.searchbutton{
    width: 80px;
    height: 40px;
    background-color: #0d10a0;
    border-radius: 12px 0px 0px 12px;
    border: 2px solid #0d10a0;
    color: azure;
}
.searchtext{
    width: 640px;
    height: 40px;
    border-left: none;
    border-right: none;
    border-top: 2px solid #0d10a0;
    border-bottom: 2px solid #0d10a0;
    padding: 12px; 
    font-size: 16px;
    outline: none;
}
.searchsubmit{
    width: 80px;
    height: 40px;
    background-color: #0d10a0;
    border-radius: 0px 12px 12px 0px;
    border: 2px solid #0d10a0;
    color: azure;
    /* font-size: 24px; */
}
.searchsubmit :hover{
    background-color: #b38f8f;
}
.bookmark{
    width: 100%;
    height: 180px;
}